<div class="container st-login">
    <div class="row">
        <div class="col-12 col-sm-4">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input formControlName="emailControl" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    <small *ngIf="showEmailValidationError" class="form-text text-danger">Email you've provided does not exist.</small>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input formControlName="passwordControl" type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <!-- <div class="form-check">
                    <input formControlName="checkboxControl" type="checkbox" class="form-check-input" id="check">
                    <label class="form-check-label" for="check">Check me out</label>
                </div> -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <!-- <a href="javascript:void(0)" (click)="doLogout()">logout</a> -->
        </div>
    </div>
</div>

